@import "../../settings/index.scss";

.cart-container {
	position: fixed;
	min-height: 100vh;
	height: 100%;
	width: 300px;
	background-color: $color-white;
	z-index: 300;
	right: 0;

	display: block;
}
