// colors
$erlie-black: #272727;
$almond: #F5E5D9;
$almond-light: #fffaf7;
$cultured: #F6F6F6;
$shadow: 3px 2px 15px -6px rgba(0,0,0,0.14);
$shadow2: 0px 5px 15px -6px rgba(0,0,0,0.65);

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$fullhd : 1920px;

// fonts
$playfare: 'Playfair Display', serif;
$pt-sans: 'PT Sans', sans-serif;

//links imagens
$banner2: 'https://picsum.photos/seed/damn/2600';
