#menu-burger {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    > .bar1, > .bar2, > .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    &.change {
        > .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        > .bar2 {opacity: 0;}
        
        > .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        }
    }
    @media (max-width:991px){
        display: block;
    }
}
#modal-menu {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    transform: translateY(-1000px);
    transition: .5s;
    border-bottom: 2px solid #333;
    > .menuMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
        .link {
            color: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .5s;
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background: transparent;
                transition: .5s;
            }
            &:hover::after {
                width: 60%;
                background:rgb(0, 122, 197) ;
            }
        }
    }
    > .iconsMobile {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        .icon {
            color: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .5s;
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background: transparent;
                transition: .5s;
            }
            &:hover::after {
                width: 60%;
                background:rgb(0, 122, 197) ;
            }
        }
    }
}