//fonts
@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}