$colorTitles: #9400d3;

$colortxtOne: #ffffff;
$colortxtTwo: #000000;

$colorPrimary: #9400d3;
$colorSecondary: #4B0082;
$colorTertiary: #b300ff;
$colorQuaternary: #ce5aff;

$colorExtra1: #ffffff;
$colorExtra2: #000000;
$colorExtra3: #808080;