* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
a {
  font-family: "PT Sans", sans-serif;
  // font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  width: 90%;
  margin: auto;
}

:root {
  --swiper-theme-color: #fff !important;
}
