.cases-background {
  display: flex;
  background-color: #E3E3E3;
  position: relative;
  width: 90%; 

  @media (max-width: 1024px) {
    width: 100%; 
  }

  .cases {
  width: 100%;
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: space-between;
  
  
@media (max-width: 1200px) {
  padding-top: 50px;
}

@media (max-width: 768px) {
  flex-direction: column;
}

.text-introduction {
    margin-top: -100px;
    position: relative;
  
  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 50px;
}
}

@keyframes animacao-caixa{
  from {
   margin-top: 0;
  }
  to {
    margin-top: 150px;
  }
}


@media (max-width: 768px) {
  .arrow {
    display: none;
  }
  
} 

.arrow {
  width: 112px;
  height: 112px;
  cursor: pointer;
  transform: rotateZ(270deg);
  position: absolute;
  margin-top: 18px;
  animation-name: animacao-caixa;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 2;
}

.banners {
display: flex;
height: 483px;
margin-left: 30px;

@media (max-width: 1200px) {
flex-direction: column;
height: 939px;
}

@media (max-width: 768px) {
margin-left: 0;
}

.banners-img {
display: block;
width: 100%;
max-width: 400px;
height: 430px;
object-fit: cover;

@media (max-width: 1200px) {
height: 375px;
}
}

.banner-text {
background-color: #E0E0E0;
font-size: 14px;
text-align: center;
padding: 20px 25px;
border-radius: 0 0 5px 5px;
max-width: 350px;
  
.banner-title {
  font-size: 18px;
  margin: -4px 0 8px 0;
}
}

.banners-secondary {
display: flex;
flex-direction: column;
margin-left: 30px;

@media (max-width: 1200px) {
margin-top: 30px;
margin-left: 0;
}

.small-banner {
margin-bottom: 30px;
max-width: 400px;
min-width: 300px;

.small-img {
  width: 100%;
  display: block;
  height: 225px;
  
  @media (max-width: 1200px) {
  height: 200px;
  object-fit: cover;
  
}
}
}
}
}
}
}
