/*CORES DO SITE*/
$main-color: #F5E5D9;
$dark-color: #272727;
$light-color: #f6f6f6;
$white: #FFF;
$black: #000;


// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $black;
  } @else {
    @return $white;
  }
}