.curved {
	background-color: white;
  
	.curved-images {
	  padding: 50px 0;
	  display: grid;
	  grid-template-columns: repeat(6, 1fr);
	  width: 85%;
	
	  @media (max-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 25px;
	  }
	
	  @media (max-width: 600px) {
		grid-template-columns: 1fr 1fr;
	  }
	
	  .round-links {
		justify-self: center;
	
		.round-img {
		  height: 150px;
		  width: 150px;
		  border-radius: 50%;
		  transition-duration: 0.3s;
	
		  @media (max-width: 420px) {
			width: 110px;
			height: 110px;
		  }
	  
		  &:hover {
			transform: scale(1.15);
		  }
		}
	  }
	}
  }