header {
  background-color: $cultured;
  height: 6vh;

  h1 {
    font-size: 2.4em;
  }

  .container {
    height: 6vh;
  }

  nav {
    flex: 1;
    text-align: center;
    ul li {
      display: inline;
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 15px;
    }
  }

  .icons img {
    width: 30px;
    padding: 0 5px;
  }
}