main {
  .image {
    width: 100%;
    overflow: hidden;
    height: 64vh;
    background-image: url("https://picsum.photos/1600/600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
  }
  // Efeito opaco na imagem de background para aparecer o texto acima dela
  .image:before {
    content: "";
    display: block;
    background-color: rgb(255, 255, 255);
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64vh;
    width: 60%;
    flex-direction: column;
    text-align: center;
    h1 {
      font-size: 40px;
    }
  }

  .typewriter:after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
  }

  @keyframes pisca {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .circles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    flex: 1;
    width: 100%;

    .dot {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 20px;
      display: inline-block;
      transition: all 0.3s ease 0s;
    }
    .dot:hover {
      transform: translateY(-30px);
      cursor: pointer;
    }
    // Fazendo com que as dots dentro de circle ficam com imagens diferentes
    // Em cada classe eu mudei apenas 1px na url da foto
    .dot-1 {
      background-image: url("https://picsum.photos/150/150");
    }
    .dot-2 {
      background-image: url("https://picsum.photos/151/151");
    }
    .dot-3 {
      background-image: url("https://picsum.photos/152/152");
    }
    .dot-4 {
      background-image: url("https://picsum.photos/153/153");
    }
    .dot-5 {
      background-image: url("https://picsum.photos/154/154");
    }
    .dot-6 {
      background-image: url("https://picsum.photos/155/155");
    }
  }
}
