.header-container {
    top: 0;
    z-index: 10;
    position: sticky;
    background-color: $light;

    > .content {
        max-width: 1200px;
        margin: 0 auto;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
}

.logo-header > .logo {
    height: auto;
    cursor: pointer;
    max-width: 130px;
    filter: opacity(0.9);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.desktop-menu {
    display: flex;
    align-items: center;
    list-style: none;

    > .menu-item {
        font-size: 15px;
        font-weight: 700;
        font-family: $font-family-pt;

        position: relative;
        color: $gray;
        margin-right: 30px;
        cursor: pointer;
    }

    > .menu-item .link:before {
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
        content: '';
        background: $secondary;
        position: absolute;
        transform-origin: right;
        transition: transform 0.6s ease-out;
        transform: scaleX(0);
    }

    > .menu-item .link:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transform-origin: left;
    }

    > .menu-item:last-child {
        margin-right: 0;
    }
}

.options-header {
    display: flex;
    align-items: center;

    > .option-icon {
        width: 20px;
        height: 20px;
        margin: 0 5px;

        cursor: pointer;
        stroke: $gray;
        transition: all ease 0.3s;
    }

    > .option-icon path {
        fill: $gray;
    }

    > .option-icon:hover {
        stroke: $gray-dark;
        transform: translateY(-3px);
    }

    > .option-icon:hover path {
        fill: $gray-dark;
    }

    > .option-icon:last-child {
        margin-right: 0;
    }
}

.mobile-icon {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;

    > .mobile-label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        transition: all 0.3s linear;
        background-color: transparent;
    }

    > #check {
        margin: 0;
        opacity: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
    }

    > #check:checked ~ .mobile-span {
        border-radius: 50%;
        background-color: transparent;
    }

    > #check:checked ~ .mobile-span:before {
        transform: translate(0px, -9px) rotate(-45deg);
    }

    > #check:checked ~ .mobile-span:after {
        transform: translate(0px, 7px) rotate(45deg);
    }

    > .mobile-span {
        left: 0;
        top: 15px;
        width: 20px;
        height: 2px;
        position: absolute;
        transition: all 0.3s linear;
        background-color: $gray-dark;
    }

    > .mobile-span:before {
        content: '';
        width: 28px;
        height: 2px;
        bottom: -8px;
        position: absolute;
        transition: all 0.3s linear;
        background-color: $gray-dark;
    }

    > .mobile-span:after {
        content: '';
        width: 28px;
        height: 2px;
        top: -8px;
        position: absolute;
        transition: all 0.3s linear;
        background-color: $gray-dark;
    }
}

.mobile-menu {
    right: 0;
    top: 70px;
    left: -71%;
    z-index: 10;
    width: 70%;
    height: 100%;
    display: none;

    opacity: 1;
    position: fixed;
    font-size: 16px;
    letter-spacing: 2px;

    transform: translateX(-100%);
    font-family: $font-family-pt;
    transition: all 0.5s linear;
    background-color: rgba(0, 0, 0, 0.904);

    > .list {
        margin: 0;
        padding: 0;
        font-weight: 600;
        list-style: none;
        text-align: left;
        padding-top: 15px;

        margin-left: 8%;
        margin-right: 8%;
    }

    > .list > .list-item {
        padding: 15px 0;
    }

    > .list > .list-item .link {
        color: $white;
        cursor: pointer;
        position: relative;
    }

    > .list > .list-item .link::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 3px;
        bottom: -8px;
        transition: 0.7s ease;
        background: $secondary;
    }

    > .list > .list-item .link:hover::after {
        width: 100%;    
    }
}
