.product-bg {
  position: relative;
  width: 90%;
  background-color: $background-pink;

  .product-text {
    display: flex;
    align-items: center;
    padding: 60px 0;
    max-width: 676px;

    @media (max-width: 1260px) {
      padding-bottom: 80px;
      padding-top: 80px;
    }

    @media (max-width: 678px) {
      flex-direction: column;
      text-align: center;
    }

    .dressmaker-img {
      display: block;
      object-fit: cover;
      height: 450px;
      width: 330px;
      margin-right: 60px;

      @media (max-width: 678px) {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    .call-button {
      margin-top: 25px;
      font-size: 16px;
      font-weight: bold;
      background-color: $background-pink;
      border: 1px solid $strong-pink;
      color: $strong-pink;
      border-radius: 5px;
      padding: 10px 30px;
      cursor: pointer;
      transition-duration: 0.3s;

      &:hover {
        color: $white;
        background-color: $strong-pink;
      }
    }
  }
}