.space {
  height: 550px;
}

section.section-2 {
  height: 55vh;
  position: relative;
  .container {
    height: 55vh;
  }
  .background {
    background-color: $primary-color;
    width: 75vw;
    height: 55vh;
    position: absolute;
    z-index: -1;
  }
  .section-2-text {
    margin: 50px 0;
    display: flex;
    width: 50vw;
  }

  .section-2-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 350px;
    width: 250px;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .section-2-text-2 {
    margin-left: 20px;
    width: 300px;
    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 45px;
    }
    button {
      margin-top: 20px;
      width: 200px;
      height: 40px;
      background-color: $black;
      color: $white;
      border: none;
      border-radius: 5px;
    }
  }

  .section-2-slider {
    width: 50vw;
    flex: 1;
    .slider-image {
      width: 100%;
      overflow: hidden;
      position: relative;
      //   height: 350px;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  // SWIPER
  .swiper-container {
    width: 550px;
    height: 350px;
  }
  
}
