// Variables Sass
$blue: #007bff;
$white: #fff;
$gray: #6c757d;
$gray-ultra-light: #f1f1f1;
$gray-light: #e8e8e8;
$gray-dark: #343a40;
$secondary: #f8b505;
$light: #f8f9fa;
$dark: #809094;
$box-shadow: 0px 3px 6px #00000029;

$font-family-pt: 'PT Sans', sans-serif;
$font-family-playfair: 'Playfair Display', serif;