//--------- Footer
.footer {
  background: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: $darkBrown;
  .footer-menus {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  li {
    list-style: none;
  }
  ul {
    columns: 2;
    padding: 0;
  }
  i {
    border-radius: 50%;
    margin-right: 10px;
  }
  h1 {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
  }
}

.logo-line {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 20px;
  }
}
.single-line {
  height: 1px;
  background: $darkBrown;
  width: 50%;
}

.footer-menu-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px 0;

  form {
    display: inline-flex;
    width: 100%;
    a {
      border-bottom: 2px solid $darkBrown;
      cursor: pointer;
    }
    .email-input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid $darkBrown;
      width: 100%;
      height: 30px;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
  }
}

.footer-menu-right {
  ul {
    columns: 1;
  }
}

.footer-menus {
  height: -webkit-fill-available;
  display: inline-flex;
  justify-content: space-around;
}

// Media Queries

@media only screen and (max-width: $max-sm-tablet) {
  .footer-menus {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .footer-menu-middle {
    width: 90vw;
  }
  .footer-menu-right {
    display: none;
  }
}

@media only screen and (min-width: $min-xl-tablet) {
  .footer-menu-right-mobile {
    display: none;
  }
}
