//--------- Header

.header {
  z-index: 100;
  width: 100vw;
  position: fixed;
  display: inline-flex;
  color: $lightBrown;
  background: $darkBrown;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: $lightBrown;
  }
}

.header-icons {
  display: flex;
  align-items: center;
  i {
    margin: 0 8px;
    font-size: 18px;
    cursor: pointer;
  }
}

.header-icons-mobile {
  display: flex;
  align-items: center;
  i {
    margin: 27px 18px;

    font-size: 18px;
  }
}

.logo {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}

.menu-list {
  list-style: none;
  display: inline-flex;
  li {
    margin: 10px;
  }
  li:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

.header-mobile {
  z-index: 101;
  position: fixed;
  color: $lightBrown;
  background-color: $darkBrown;
  top: 0;
  right: 100%;
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  a {
    text-decoration: none;
    color: $lightBrown;
  }
}

.nav-mobile-list {
  padding: 0;
  margin: 0 10px;
  list-style: none;
  li {
    margin: 15px;
    font-weight: 700;
  }
}

.nav-mobile-list-item {
  text-align: center;
  padding: 10px 0;
}

// Burger menu

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle-menu {
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -6px);
}

.toggle .toggle-menu {
  background-color: white;
}

//--------- Mobile breakpoints

@media only screen and (min-width: $max-mobile) {
  .header-mobile {
    display: none;
  }
}

@media only screen and (max-width: $max-mobile) {
  .menu-list {
    display: none;
  }
  .header-icons {
    display: none;
  }
  .header {
    justify-content: end;
    h1 {
      margin-left: 20px;
    }
  }
}
