@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

.space {
  height: 539px;
}

.container {
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.text-case {
  max-width: 405px;
}

@media (max-width: 830px) {
  .text-case {
    max-width: 345px;
  }
}

.text-case .title-case {
  font-size: 220%;
  margin: 25px 0;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: rotateZ(270deg) translate3d(0, 0, 0);
            transform: rotateZ(270deg) translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: rotateZ(270deg) translate3d(50px, 0, 0);
            transform: rotateZ(270deg) translate3d(50px, 0, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: rotateZ(270deg) translate3d(0, 0, 0);
            transform: rotateZ(270deg) translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: rotateZ(270deg) translate3d(50px, 0, 0);
            transform: rotateZ(270deg) translate3d(50px, 0, 0);
  }
}

#division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  border-color: #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.logo-footer {
  width: 100px;
  height: 90px;
}

body, ul, button {
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  font-size: 1.2rem;
  padding: 20px;
  text-decoration: none;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  margin-left: 30px;
}

#header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 130px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  cursor: pointer;
}

#icons li {
  padding: 10px;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

/*  Hamburger menu */
@media (max-width: 750px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 130px;
    right: 0px;
    background: #e7e7e7;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

.swiper {
  max-width: 100%;
  width: 100%;
  max-height: 550px;
  min-height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 715px;
}

@media (max-width: 1024px) {
  .swiper {
    height: 600px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .swiper {
    height: 300px;
    max-width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  background-repeat: no-repeat;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
}

.curved {
  background-color: white;
}

.curved .curved-images {
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  width: 85%;
}

@media (max-width: 1200px) {
  .curved .curved-images {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .curved .curved-images {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.curved .curved-images .round-links {
  -ms-grid-column-align: center;
      justify-self: center;
}

.curved .curved-images .round-links .round-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (max-width: 420px) {
  .curved .curved-images .round-links .round-img {
    width: 110px;
    height: 110px;
  }
}

.curved .curved-images .round-links .round-img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.cases-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E3E3E3;
  position: relative;
  width: 90%;
}

@media (max-width: 1024px) {
  .cases-background {
    width: 100%;
  }
}

.cases-background .cases {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .cases-background .cases {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .cases-background .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cases-background .cases .text-introduction {
  margin-top: -100px;
  position: relative;
}

@media (max-width: 768px) {
  .cases-background .cases .text-introduction {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@-webkit-keyframes animacao-caixa {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 150px;
  }
}

@keyframes animacao-caixa {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .cases-background .cases .arrow {
    display: none;
  }
}

.cases-background .cases .arrow {
  width: 112px;
  height: 112px;
  cursor: pointer;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  position: absolute;
  margin-top: 18px;
  -webkit-animation-name: animacao-caixa;
          animation-name: animacao-caixa;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.cases-background .cases .banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 483px;
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .cases-background .cases .banners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 939px;
  }
}

@media (max-width: 768px) {
  .cases-background .cases .banners {
    margin-left: 0;
  }
}

.cases-background .cases .banners .banners-img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .cases-background .cases .banners .banners-img {
    height: 375px;
  }
}

.cases-background .cases .banners .banner-text {
  background-color: #E0E0E0;
  font-size: 14px;
  text-align: center;
  padding: 20px 25px;
  border-radius: 0 0 5px 5px;
  max-width: 350px;
}

.cases-background .cases .banners .banner-text .banner-title {
  font-size: 18px;
  margin: -4px 0 8px 0;
}

.cases-background .cases .banners .banners-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .cases-background .cases .banners .banners-secondary {
    margin-top: 30px;
    margin-left: 0;
  }
}

.cases-background .cases .banners .banners-secondary .small-banner {
  margin-bottom: 30px;
  max-width: 400px;
  min-width: 300px;
}

.cases-background .cases .banners .banners-secondary .small-banner .small-img {
  width: 100%;
  display: block;
  height: 225px;
}

@media (max-width: 1200px) {
  .cases-background .cases .banners .banners-secondary .small-banner .small-img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#shop {
  max-width: 90%;
  background: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px;
  font-size: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*=========================*/
}

#shop h1 {
  font-size: 3em;
}

#shop p {
  line-height: 1.3em;
}

@media (max-width: 1000px) {
  #shop {
    max-width: 100%;
    text-align: center;
    padding: 10px;
  }
  #shop h1 {
    font-size: 1em;
  }
  #shop p {
    font-size: .8em;
  }
}

#shop .swiper-shop {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  margin-right: -14%;
}

@media (max-width: 768px) {
  #shop .swiper-shop {
    margin-right: 0;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
}

#shop .swiper-shop .swiper {
  width: 500px;
  max-width: 100%;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

#shop .swiper-shop .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  background-repeat: no-repeat;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#shop .swiper-shop .swiper-slide img {
  width: 100%;
}

/*=========================*/
.shop-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 0 10px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .shop-img {
    padding: 1.3em;
  }
}

@media (max-width: 768px) {
  .shop-img {
    padding: 0;
  }
}

.shop-about {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 300px;
          flex: 3 1 300px;
  margin: 0 10px;
  padding-right: 20%;
}

@media (max-width: 768px) {
  .shop-about {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .shop-about {
    font-size: .8em;
    padding: .5em;
  }
}

img {
  display: block;
  max-width: 100%;
}

.btn-shop {
  width: 80%;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn-shop:hover {
  color: #000;
  background-color: #fff;
}

.glow-on-hover {
  width: 300px;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1.4rem;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#insta {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 60px;
  font-size: 1vw;
  margin-top: 4vw;
}

@media (max-width: 1024px) {
  #insta {
    font-size: .7em;
    padding: 0;
  }
}

@media (max-width: 768px) {
  #insta {
    font-size: 2vw;
    padding: 0;
  }
}

@media (max-width: 500px) {
  #insta {
    font-size: 3vw;
  }
}

#insta .text-insta {
  padding: 20px;
  height: 100%;
}

#insta .text-insta h1 {
  margin-top: -20px;
  margin-bottom: 120px;
  font-size: 2.3vw;
}

@media (max-width: 1024px) {
  #insta .text-insta h1 {
    margin-top: 30px;
    font-size: 3em;
    margin-bottom: 30px;
  }
}

#insta .text-insta p {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #C4C4C4;
  display: table-cell;
  height: 24vw;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  #insta .text-insta p {
    font-size: 1.2em;
    width: 100%;
  }
}

#insta .img {
  width: 100%;
}

@media (max-width: 1024px) {
  #insta .img {
    padding: 2em;
  }
}

#insta .box-img {
  padding: 60px 40px 0 40px;
}

#footer {
  display: -ms-grid;
  display: grid;
  padding: 80px;
  margin: 0;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer h2 {
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  #footer {
    display: block;
    text-align: center;
    padding: 2em;
    font-size: .8em;
  }
}

@media (max-width: 678px) {
  #footer {
    display: block;
    text-align: center;
    font-size: .6em;
    padding: .5em;
  }
}

#footer ul {
  list-style: none;
}

.footer-center {
  margin: 0 auto;
  min-width: 70%;
}

.footer-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-decoration: none;
  text-align: center;
}

.footer-right {
  text-align: center;
}

.footer-right img {
  width: 20px;
  height: 20px;
}

.footer-right img, .footer-right p {
  display: inline-block;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
}

.social-footer p {
  margin-left: 5px;
}

.social-footer input {
  border: none;
}

.input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  top: 0;
  left: 0;
  right: 0;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

button {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  background: none;
  margin-left: -2px;
  width: 30%;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  button {
    width: 40%;
  }
}

.site-footer {
  display: block;
  text-align: center;
  padding-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */