@import "../../../settings/index.scss";

.feature-swiper {
	background-color: $bg-color-secondary;
	position: relative;
	width: 40%;
	display: flex;
	align-items: center;
	max-height: 400px;
	border-radius: 4px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	> .swiper-button-next {
		color: $color-secondary-low;

		position: absolute;
		right: 108px;
	}

	> .swiper-button-prev {
		color: $color-secondary-low;

		position: absolute;
		left: 108px;
	}

	> .swiper-wrapper {
		> .swiper-slide {
			max-height: 340px;
			height: 100%;
			display: flex;
			justify-content: center;

			.image {
				max-width: 400px;
				object-fit: cover;
			}
		}
	}
}
