@import "../../settings/index.scss";

.carditem {
	width: 100%;
	margin-bottom: 16px;
	display: flex;
	gap: 8px;

	> .image {
		max-height: 80px;
	}

	> .description {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		> .name {
			font-size: 16px;
		}

		> .price {
			font-size: 16px;
		}
	}

	> .remove {
		padding: 0 16px;
		background-color: transparent;
		color: $color-secondary-high;

		&:hover {
			color: $color-secondary-low;
		}
	}
}
