@import "./posts-container/index.scss";
@import "./post-card/index.scss";
@import "../../settings/index.scss";

.instagram-posts {
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> .call {
		text-transform: uppercase;
		font-size: 16px;
		color: $color-gray-mid;
	}

	> .title {
		font-size: 40px;
		color: $color-primary-high;
	}
}
