footer {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    width: 101%;
    position: relative;
    justify-content: space-around;

    #footer {
        width: 100%;
        max-width: 1200px;

        .x-logo-footer{
            display: flex;
            justify-content: center;
            margin-top: -42px;
            margin-bottom: 23px;
        
            img {
                width: 50px;  
                background-color: white;
                padding: 10px;
            }
            
        }
        .menu-footer {
            display: flex;
            width: 100%;
        
            .x-menu-footer {
                width: 33%;
                justify-content: flex-start;
                display: grid;
                .menu-list {
                    display: flex;
                }
            }
            .x-newsletter {
                width: 33%;
                justify-content: space-around;
                display: grid;

                .newsletter{
                    display: flex;
                    justify-content: center;
                    align-items: baseline;

                    input {
                        border-bottom: 1px solid #272727;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        width: 250px;
                        line-height: 33px;
                        background-color: white;
                        cursor: pointer;
                    }
                    #submit {
                        width: 50px;
                    }
                }
            }
            .x-social {
                width: 33%;
                justify-content: end;
                display: grid;

                a {
                    color: #272727;
                    font-size: 13px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
            h1{
                font-size: 21px;
                font-weight: 100; 
            }
            ul {
                font-size: 13px;
                list-style: none;
                margin-right: 49px;
                padding-inline-start: 0px;
                line-height: 24px;
                cursor: pointer;
                color: #272727;
            }
            button{
                background-color: white;
                border: 1px solid white;
                display: block;
        
                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }
            
            .x-facebook img {
                width: 27px;
                margin-right: 11px;
            }
        }
    }
    p{
        text-align: center;
        font-weight: 100;
        font-size: 12px;
    }
}
.footer-mobile {
    display: none;
}

