@import "../../settings/index.scss";

.trend-card {
	max-width: 364px;
	background-color: $color-primary-low;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	text-align: center;
	max-height: 500px;
	border-radius: 4px;
	overflow: hidden;

	&.-first {
		grid-area: first;
		margin-top: 100px;
	}

	&.-second {
		grid-area: second;
	}

	&.-third {
		grid-area: third;
	}

	> .title {
		padding: 16px;
	}

	> .paragraph {
		padding: 0 24px 24px 24px;
	}

	> .image {
		width: 100%;
		height: 240px;
		object-fit: cover;
		object-position: center;
	}
}
