@import "../../settings/index.scss";

.trend-card {
	max-width: 364px;
	background-color: $color-primary-low;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	text-align: center;
	max-height: 500px;
	border-radius: 4px;
	overflow: hidden;
	border-left: 4px solid $color-primary-high;

	&.-first {
		grid-area: first;
		margin-top: 100px;
	}

	&.-second {
		grid-area: second;
	}

	&.-third {
		grid-area: third;
	}

	> .title {
		padding: 16px;
	}

	> .paragraph {
		padding: 0 24px 24px 24px;
	}

	> .image {
		width: 100%;
		height: 240px;
		object-fit: cover;
		object-position: center;
	}

	@media (max-width: 600px) {
		> .paragraph {
			padding: 0 16px 16px 16px;
		}
	}
}
