.products__instagram{
    background-color: $quaternaryColor;
    display: flex;
    flex-direction: row;
    &__left{
        height: 350px;
        width: 30.3%;
        transform: translateY(50px);
        padding-left: 3%;
    }
    &__left img{
        width:100%;
        height:100%;
    }
    &__middle{
        height: 500px;
        width: 39.3%;
        display: flex;
        flex-direction: column;
        padding: 0 3%;
        &__top{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__top h3{
            font-size: 33px;
        }
        &__down{
            height: 80%;
            width:  100%;
            background-color:$tertiaryColor;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 50px;
        }
        &__down p{
            font-size: 1.1em;
        }

    }
    &__right{
        height: 350px;
        width: 30.3%;
        transform: translateY(50px);
        padding-right: 3%;
    }
    &__right img{
        width:100%;
        height:100%;
    }
}

