.services{
    
    &__container{
        display: flex;
        width: 100%;
        height: 490px;
        background-color: $tertiaryColor;

        &__left{
            width: 37.5%;
        }

        &__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 0px 99px;

        }
        &__text h1{
            padding: 5px 0;
            font-size: 2em;
        }
        &__text p{
            font-size: 1.1em;

        }
        &__arrow{
            display: flex;
            width: 20%;
            transform: translateY(-55%);

        }
        & img{
            width: 100%;
        }

        &__cards{
            width: 62.5%;
            display: flex;
            transform: translateY(160px);
            padding-right: 60px;
            justify-content: flex-end;
            align-items: center;
            & img{
                width: 100%;
            }

            &__left{
                width: 400px;
                display: flex;
                flex-direction: column;
                background-color: $tertiaryColor;
                padding: 20px 20px;
                margin-right: 20px;
                text-align: center;

            }
            &__right{
                display: flex;
                text-align: center;
                flex-direction: column;
                width: 400px;
                background-color: $tertiaryColor;

            }
            .services_container__cards__right__top{
                padding: 20px 20px;
            
            }
            .services_container__cards__right__down{
                padding: 20px 20px;
            
            }
        }
    }
    &__container__2{
        height: 302px;
        width: 100%;
        background-color: $neutralColor;
    }
}

