<div class="footer-containerlogo">
    <img class="footer-logo" src="./src/assets/Hire-Me-Logotipo.png" alt="hire me logo">
</div>
<div class="footer-grid">
    <div class="footer-item">
        <h6 class="footer-itemtitle">Menu</h6>
        <div class="footer-item -flex">
            <ul class="footer-itemlist">
                <li>Submenu</li>
                <li>Submenu</li>
            </ul>
            <ul class="footer-itemlist">
                <li>Submenu</li>
                <li>Submenu</li>
            </ul>
        </div>
    </div>
    <div class="footer-item">
        <h6 class="footer-itemtitle">Menu</h6>
        <form class="footer-groupinput">
            <input type="text" id="footerinput" placeholder="Insira seu e-mail">
            <label for="footerinput">
                Enviar</i>
            </label>
        </label>
    </div>
    <div class="footer-item">
        <h6 class="footer-itemtitle">Menu</h6>
        <ul class="footer-itemlist">
            <li>
                <i class="fab fa-instagram iconinsta"></i>
                Submenu
            </li>
            <li>
                <i class="fab fa-facebook iconfacebook"></i>
                Submenu
            </li>
        </ul>
    </div>
</div>
<div class="footer-copy">
    @HireMe - Tecnologia para ecommerce - CNPJ 00.0000.000/0001-00
</div>