<header class="header">
    <div class="header-containerimg">
        <img class="header-logo" src="./src/assets/Hire-Me-Logotipo.png" alt="hire me logo">
    </div>
    <nav class="header-nav">
        <ul class="header-list">
            <span class="close-menu">
                <i class="fas fa-times"></i>
            </span>
            <li class="header-item">MENU</li>
            <li class="header-item">MENU</li>
            <li class="header-item">MENU</li>
            <li class="header-item">MENU</li>
            <li class="header-item">MENU</li>
        </ul>
        <div class="menu-icon is-mobile">
            <div class="stripe1"></div>
            <div class="stripe2"></div>
            <div class="stripe3"></div>
        </div>
    </nav> 
    <ul class="header-listicons">
        <li class="header-icon" id="iconsearch"><i class="fas fa-search"></i></li>
        <li class="header-icon" id="iconuser"><i class="fas fa-user-circle"></i></li>
        <li class="header-icon bag-buy" id="iconbag">
            <i class="fas fa-shopping-basket" id="cartBag"></i>
            <span id="cart-qnt" class="cartqntd" data-qnt="0" ></span>
        </li>
    </ul>
    <form class="searchbar" id="searchbar">
        <label class="searchbar-container" for="search">
            <i id="searchiconSubmit" class="fas fa-search"></i>
            <input class="searchbar-input" type="text" name="search" id="search" placeholder="Buscar">
        </label>
    </form>
</header> 