<section class="hero">
    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero-item">
                    <img class="hero-img" src="./src/assets/banner.jpg" alt="Hero Image" title="Hero Image">
                </div>
                <div class="hero-overlay">
                    <img class="hero-logo" src="./src/assets/Hire-Me-Logotipo.png" alt="hire me logo">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-item">
                    <img class="hero-img" src="./src/assets/banner.jpg" alt="Hero Image" title="Hero Image">
                </div>
                <div class="hero-overlay">
                    <img class="hero-logo" src="./src/assets/Hire-Me-Logotipo.png" alt="hire me logo">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-item">
                    <img class="hero-img" src="./src/assets/banner.jpg" alt="Hero Image" title="Hero Image">
                </div>
                <div class="hero-overlay">
                    <img class="hero-logo" src="./src/assets/Hire-Me-Logotipo.png" alt="hire me logo">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>