<section class="pitbar" data-aos="fade-up">
    <div class="swiper-container pitbar-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="pitbar-item">
                    <img class="pitbar-img" src="./src/assets/Hire-Me-Logotipo.png" alt="pitbar Image" title="pitbar Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pitbar-item">
                    <img class="pitbar-img" src="./src/assets/Hire-Me-Logotipo.png" alt="pitbar Image" title="pitbar Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pitbar-item">
                    <img class="pitbar-img" src="./src/assets/Hire-Me-Logotipo.png" alt="pitbar Image" title="pitbar Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pitbar-item">
                    <img class="pitbar-img" src="./src/assets/Hire-Me-Logotipo.png" alt="pitbar Image" title="pitbar Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pitbar-item">
                    <img class="pitbar-img" src="./src/assets/Hire-Me-Logotipo.png" alt="pitbar Image" title="pitbar Image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="pitbar-item">
                    <img class="pitbar-img" src="./src/assets/Hire-Me-Logotipo.png" alt="pitbar Image" title="pitbar Image">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>