.call-to-action{
    background-color: var(--black);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 5px;

    transition: opacity 250ms;

    &:hover{
        opacity: 0.7;

    }
}