<div id="x-footer" class="footer-desktop">
    <div class="x-logo-footer">
        <img class="logo"
        id="footer"
        src="/src/images/logo/icon-logo.png" 
        alt="Logomarca Skin Planet" />
    </div>    
    <div class="menu-footer">
        <div class="x-menu-footer">
            <h1>Menu</h1>
            
            <div class="menu-list">
                <ul>
                    <li>Quadrinhos</li>
                    <li>Filmes</li>
                    <li>Personagens</li>
                </ul>

                <ul>
                    <li>Store</li>
                    <li>Contato</li>
                </ul>
            </div>
        </div>

        <div class="x-newsletter">
            <h1>Newsletter</h1>

            <form class="newsletter">
                <input type="email" id="email" placeholder="Email" name="email">
                <input type="submit" id="submit">
            </form>
        </div>

        <div class="x-social">
            <h1>Redes Sociais</h1>        

            <button class="x-insta icon"><a href="https://www.instagram.com/marvel" target="_blank"><img src="/src/images/icons/insta-icon.png" /> Instagram</a></button>
            <button class="x-facebook icon"><a href="https://www.facebook.com.br/marvel" target="_blank"><img src="/src/images/icons/face-icon.png" /> Facebook</a></button>
        </div>

    </div>
    <p>@Vnda - Tecnologia para ecommerce - CPNJ 00.0000.000/0001-00</p>
</div>

<div id="x-footer" class="footer-mobile">
    <div class="x-logo-footer">
        <img class="logo"
        id="footer"
        src="/src/images/logo/icon-logo.png" 
        alt="Logomarca Skin Planet" />
    </div>    
    <div class="menu-footer">
        <div class="x-menu-footer">
            <h1>Menu</h1>
            
            <div class="menu-list">
                <ul>
                    <li>Quadrinhos</li>
                    <li>Filmes</li>
                    <li>Personagens</li>
                </ul>

                <ul>
                    <li>Store</li>
                    <li>Contato</li>
                </ul>
            </div>
        </div>
        <div class="right-footer">
            <div class="x-newsletter">
                <h1>Newsletter</h1>

                <form class="newsletter">
                    <input type="email" id="email" placeholder="Email" name="email">
                    <input type="submit" id="submit">
                </form>
            </div>

            <div class="x-social">
                <h1>Redes Sociais</h1>        

                <button class="x-insta icon"><a href="https://www.instagram.com/marvel" target="_blank"><img src="/src/images/icons/insta-icon.png" /> Instagram</a></button>
                <button class="x-facebook icon"><a href="https://www.facebook.com.br/marvel" target="_blank"><img src="/src/images/icons/face-icon.png" /> Facebook</a></button>
            </div>
        </div>    
    </div>
    <p>@Vnda - Tecnologia para ecommerce - CPNJ 00.0000.000/0001-00</p>
</div>
