<div id="x-header">
    <div class="x-logo">
        <img alt="logo-avengers" width="150px" src="/src/images/logo/marvel-logo2.png" />
    </div>
    <div class="menu-list">
        <ul>
            <li>Quadrinhos</li>
            <li>Filmes</li>
            <li>Personagens</li>
            <li>Store</li>
            <li>Contato</li>
        </ul>
    </div>
    <div class="x-icons">
        <div class="search"><img alt="search-icon" width="20px" src="/src/images/icons/search-icon.png" /></div>
        <div class="account"><img alt="accounts-icon" width="20px" src="/src/images/icons/accounts-icon.png" /></div>
        <div class="checkout"><img alt="minicart-icon" width="20px" src="/src/images/icons/bag2-icon.png" /></div>
    </div>
</div>
<div id="x-header-mobile">
<div class="container">
      <div class="content">
        
        <nav role="navigation">
          <div id="menuToggle">
            <div class="checkbox">
              <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>

              
              <ul id="menu">
                <li><a href="#">Quadrinhos</a></li>
                <li><a href="#">Filmes</a></li>
                <li><a href="#">Personagens</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Contato</a></li>
              </ul>
              </div>
            <div class="x-logo">
              <img alt="logo-avengers" width="150px" src="/src/images/logo/marvel-logo2.png" />
            </div>
            <div class="x-icons">
                <div class="search"><img alt="search-icon" width="20px" src="/src/images/icons/search-white.png" /></div>
                <div class="account"><img alt="accounts-icon" width="20px" src="/src/images/icons/account-white.png" /></div>
                <div class="checkout"><img alt="minicart-icon" width="20px" src="/src/images/icons/bag-white.png" /></div>
            </div>
            
         </div>
        </nav>
      </div>
  </div>
</div> 