@import "../../settings/index.scss";
@import "./price-total/index.scss";
@import "./items-list/index.scss";

@mixin paddingLeft {
	padding: 16px;
}

.cart-content {
	display: flex;
	flex-direction: column;
	height: 100%;

	> .header {
		background-color: $bg-color;
		height: 80px;
		display: flex;
		@include paddingLeft;
		align-items: center;
		justify-content: space-between;

		> .button {
			background: transparent;
			font-size: 16px;
		}
	}

	> .status {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	> .items-list {
		@include paddingLeft;
		flex: 1;
		height: 100%;
		width: 100%;
		overflow-y: auto;

		display: block;
		padding-top: 40px;

		> .carditem {
			padding: 0 16px;
		}

		> .carditem:not(:last-child) {
			border-bottom: 1px solid $color-gray-mid;
			padding-bottom: 8px;
		}
	}

	> .total {
		@include paddingLeft;
		display: flex;
		background-color: rgb(238, 238, 238);
		justify-content: space-between;

		> .total-price {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		> .-empty {
			width: 100%;
			font-size: 18px;
		}
	}

	> .budget-button {
		@include paddingLeft;
		height: 80px;
		background-color: rgb(238, 238, 238);
		display: flex;
		justify-content: center;

		> .link .button {
			padding: 8px 16px;
			margin-bottom: 24px;
			background-color: rgb(103, 185, 44);
			font-size: 18px;
			color: $color-white;

			&:hover {
				filter: brightness(1.1);
			}
		}
	}
}
