@import "../../settings/index.scss";

.shortcut-list {
	width: 25%;
	background-color: $color-primary-low;

	> .list {
		display: flex;
		justify-content: flex-end;
		gap: 24px;
	}

	> .item {
		font-size: 32px;
		display: flex;
		align-items: center;
	}

	@media (max-width: 900px) {
		position: fixed;
		width: 100vw;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 100;
		padding: 24px;

		> .list {
			justify-content: center;
		}
	}
}
