//colors
$sectionBgColor: #cccccc;
$bodyBgColor: #ffffff;
$lightBrown: #f5e5d9;
$darkBrown: #272727;
$swiperColor: #f6f6f6;

//sizes
$headerHeight: 73px;
$circleSize: 130px;

//media sizes

//mobile
$xs-mobile: 369px;
$max-mobile: 600px;

//tablet
$min-sm-tablet: 601px;
$max-sm-tablet: 869px;
$min-xl-tablet: 870px;
$max-xl-tablet: 999px;

//desktop
$min-sm-desktop: 1000px;
$max-sm-desktop: 1199px;
$min-md-desktop: 1200px;
$max-md-desktop: 1400px;
$min-xl-desktop: 1600px;
$max-xl-desktop: 1920px;
