<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Landing Page</title>

    <link rel="icon" href="/src/images/logo/icon-logo.png" />
    <link rel="stylesheet" href="/dist/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="/src/js/index.js"></script>

  </head>
  <body style="margin: 0 !important;">

    <div id="page-landing">

      <header>
        <div id="header"></div>
      </header>
      
        <main>
            <section id="banner">
                <img alt="banner-avengers" width="100%" height="700px" src="/src/images/banner/avengers-banner.jpeg"/>    
            </section>
            <section class="products products-desktop">
                <img alt="hqs-marvel" src="/src/images/icons/hqs-marvel.jpeg" />
                <img alt="movies-marvel" src="/src/images/icons/movies-marvel.jpeg" />
                <img alt="characters-marvel" src="/src/images/icons/character-icon.jpeg"/>
                <img alt="store-marvel" src="/src/images/icons/clothes-icon.jpeg"/>
                <img alt="contato-marvel" src="/src/images/logo/icon-logo.png"/>
            </section>
            <section class="products products-mobile">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img alt="hqs-marvel" src="/src/images/icons/hqs-marvel.jpeg" /></div>
                    <div class="swiper-slide"><img alt="movies-marvel" src="/src/images/icons/movies-marvel.jpeg" /></div>
                    <div class="swiper-slide"><img alt="characters-marvel" src="/src/images/icons/character-icon.jpeg"/></div>
                    <div class="swiper-slide"><img alt="store-marvel" src="/src/images/icons/clothes-icon.jpeg"/></div>
                    <div class="swiper-slide"><img alt="contato-marvel" src="/src/images/logo/icon-logo.png"/></div>
                </div>
                <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
            </section>
            <section id="new-movies">
                <div class="x-new-movies">
                    <div class="x-movie-left">
                        <p>Lorem ipsum lorem dolor</p>
                        <h1>Lorem ipsum dolor sit amet</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna
                            aliqua. Metus vulputate eu scelerisque
                            felis imperdiet proin fermentum. Praesent
                            semper feugiat nibh sed pulvinar proin.</p>

                            <img alt="thor-marvel" style="transform: rotate(270deg) translateX(-426px);width: 250px;" src="/src/images/icons/thor-mj.png" />
                    </div>
                    <div class="x-movie-middle">
                        <div class="imgs-marvel">
                            <img alt="characters-marvel" src="/src/images/icons/eternals2.jpeg" />
                        </div>

                        <div class="movie-infos">
                            <h1>Titulo do Banner</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempo.</p> 
                        </div>
                        
                    </div> 
                    <div class="x-movie-right">
                        <div class="x-first-movie movie">
                            <div class="imgs-marvel">
                                <img alt="characters-marvel" width="300px" src="/src/images/icons/eternals.jpeg" />
                            </div>
                            <div class="movie-infos">
                                <h1>Titulo do Banner</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempo.</p> 
                            </div>
                        </div>
                        <div class="x-second-movie movie">
                            <div class="imgs-marvel">
                                <img alt="characters-marvel" width="250px" src="/src/images/icons/eternals-hqs.jpeg"/>
                            </div>
    
                            <div class="movie-infos">
                                <h1>Titulo do Banner</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempo.</p> 
                            </div>
                        </div>          
                    </div>  
                </div>     


            </section>
            <section id="informations-stories">
                <div class="x-information-stories">
                    <div class="left">
                        <div class=x-left>
                            <img alt="captain-marvel" width="200px" src="/src/images/logo/captain-marvel.jpeg" />    
                        </div>
                        <div class="x-middle">
                            <p>Lorem ipsum lorem dolor</p>
                            <h1>Lorem ipsum dolor sit amet</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Metus vulputate eu scelerisque
                                felis imperdiet proin fermentum. Praesent
                                semper feugiat nibh sed pulvinar proin.</p>
                            <button>More</button>
                        </div>
                    </div>         
                    <div class="right">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                            <div class="swiper-slide"><img alt="captain-marvel" width="390px;" src="/src/images/icons/captainmarvel.jpeg"/></div>
                            <div class="swiper-slide"><img alt="viuvanegra-marvel" width="390px;" src="/src/images/icons/viuva-marvel.jpeg"/></div>                     
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="insta-brand">
                <h1>@instadamarca</h1>
                <div class="brands">
                    <div class="x-brand"><img alt="hqs-marvel" width="250px" src="/src/images/icons/hqs-marvel.jpeg" /></div>
                    <div class="x-brand"><p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Metus vulputate eu scelerisque
                        felis imperdiet proin fermentum.
                        Praesent semper feugiat nibh sed
                        pulvinar proin.</p></div>
                    <div class="x-brand"><img alt="characters-marvel" src="/src/images/icons/character-icon.jpeg" /></div>
                </div>
            </section>
        </main>  

    </div>  

    <footer>
        <div id="footer"></div>
    </footer>

  </body>
</html>
