@import "./product-label/index.scss";
@import "../../elements/producthumb/index.scss";

.product-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	transition: all 0.5s ease-out;

	&:hover {
		> .productthumb {
			box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
				rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
			transform: scale(1.02);
			z-index: -5;
			transition: all 0.5s ease-out;
		}
	}
}
