@import "../../settings/index.scss";

.banner-swiper {
	.swiper-button-prev,
	.swiper-button-next {
		color: $color-primary-low;
	}

	.swiper-wrapper {
		.swiper-slide {
			img {
				width: 100%;
				object-fit: cover;
				margin-top: -32px;
			}
		}
	}
}
