@import "../../settings/index.scss";

.banner-swiper {
	position: relative;
	.swiper-button-prev,
	.swiper-button-next {
		color: $color-primary-low;
	}

	.swiper-wrapper {
		.swiper-slide {
			img {
				width: 100%;
				object-fit: cover;
				margin-top: -32px;
			}
		}
	}

	> .swiper-pagination {
		position: absolute;
		filter: brightness(0.8);
		bottom: 0;
		margin-bottom: -5px;
	}
}
