nav{
    margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--eerie-black);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
    opacity: 0.8;
}
