@import "../../settings/index.scss";

.socialbutton {
	> .button {
		height: 100%;
		background-color: transparent;
		font-size: 16px;
		display: flex;
		align-items: center;
		gap: 8px;

		&:hover {
			color: $color-secondary-high;
		}

		> .fa-brands {
			margin-left: 8px;
			font-size: 16px;
		}
	}
}
