$bg-color: #f7f3ed;
$bg-color-secondary: #eeeae7;

$color-primary-high: #f7b243;
$color-primary-low: #f7ca69;
$color-primary-bg: #efe0ca;

$color-secondary-high: #b7503e;
$color-secondary-low: #ea876c;
$color-secondary-bg: #ffebe9;

$color-gray-dark-strong: #1c1c1c;
$color-gray-dark: #4d4d4d;
$color-gray-mid: #bababa;
$color-gray-light: #dddddd;
$color-white: #fff;
