.icon-bar {
    overflow: hidden;
    background-color: $eerie;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    .icon-img {
      display: inline-block;      
      padding: 25px;
      img{
        border-radius: 50%;
        max-width: 150px;
        height: auto;
        
        transition: .3s ease-in-out;
      }
      img:hover{
        opacity: .5;
      }
    }
  }