.insta-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 80px;
    h1{
      font-family: 'PT Sans', sans-serif;
      color: $eerie;
      margin: 0px;
      padding: 0px;
    }
  }
  
  .insta-gallery {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    
  }
  .insta-img {
    img {
      width: 400px;
    }
  }
  .insta-txt {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 11pt;
    width: 400px;
    height: 400px;
    background-color: $eerie;
    p {
      padding: 20px;
      color: $cultured;
    }
  }