*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Playfair Display", "PT Sans";
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

  ::selection{
    background-color: #F6F6F6;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    background-color: #F6F6F6;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #272727;
  }
  
  h1{
    line-height: 50px;
  }

  ul{
    line-height: 30px;
  }

  p{ 
    line-height: 28px;
  }

  /* MENU */
  .navbar{
    position: fixed;
    background-color: #F5E5D9;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
  }
  
  .larg-interna{
    max-width: 100%;
    margin: auto;
    padding: 0 110px;
  }
  
  .navbar .larg-interna{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    width: 15%; 
    height: 64px;
    float: right;
    background: no-repeat;
    background-image: url(../img/icons/logo.png);
    background-size: contain;
  }

  /* Menu Mobile Responsivo */
  .menu-toggler{
    background: none;
    width: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }
  
  .menu-toggler span{
    display: block;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
  }
  
  .navbar-menu{
    width: 100%;
  }
  
  .navbar-menu a{
    color: #000000;
    font-size: 22px;
    margin-left: 80px;
    transition: .2s linear; 
  }
  
  .navbar-menu a:hover{
    background-color: #000000;
    color: #FFFFFF !important;
  }
  
  .barra-icones{
    width:30%;
    float: right;
    margin-right: 0px;
    padding: 0px 0px;
    background: transparent;
  }

  .myInput{
    width: 115px;
    border: .5px solid #F5E5D9;
    background: transparent;
  }

  /* Rolagem */
  .sticky{
    background-color: #F5E5D9;
    padding: 18px 0;
  }
  
  .sticky .navbar-menu a{
    color: #000000;
  }
  
  .sticky .menu-toggler span{
    background-color: #000000;
  }
  /* /MENU */

  /* HOME */
  #home{
    height: 100vh;
    min-height: 500px;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #home .larg-interna{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  #home .content{
    width: 100%;
    color: #FFFFFF;
  }
  
  #home .content h1{
    font-size: 60px;
    margin-bottom: 60px;
  }
  
  #home .content h1::after{
    content: "Darkcode";
    animation: textanim 10s linear infinite;
  }
  
  .sm a{
    color: #FFFFFF;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
  }
  
  .sm a:hover{
    color: #F5E5D9;
  }
  
  #home .buttons{
    margin-top: 160px;
  }
  
  #home .buttons a{
    margin: 25px 40px;
    color: #F5E5D9;
    font-size: 150px;
    font-weight: 500px;
    width: 500px;
    border: 1px solid #F5E5D9;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
  }
  
  #home .buttons a:hover,
  #home .buttons a:nth-child(2)
  {
    background-color: #F5E5D9;
    color: #FFFFFF;
  }

  /* HOME- SWIPPER */
  /* .swiper-container {
    width: auto;
    height: auto;
  }

  .swiper-slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* /HOME */

  /* SESSOES */
  section{
    padding: 100px 0;
    background-color: #F6F6F6;
  }

  .section-title{
    padding: 2% 45%;
  }

  section.dark{
    background-color: #353b48;
  }
  
  section.dark .section-title{
    color: #F6F6F6;
  }
  
  section.dark .section-title::before{
    background-color: #F6F6F6;
  }
  
  section.dark .section-title::after{
    border: 4px solid #272727;
  }
  /* /SESSOES */

  /* CONCEITO */
  .container-sessao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
  }
  
  .conceito-item{
    margin: auto;
    margin-top: 5%;
  }
  
  .conceito-item-img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 2px solid #272727;
    cursor: pointer;
    transition: .3s linear;
  }

  .conceito-item h4{
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .conceito-item-img:hover{
    background-color: #F5E5D9;
  }
  /* /CONCEITO */

  /* SOBRE */
  .container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .conteudo-sobre{
    width: calc(33% - 40px);
    margin-top: 20px;
  }

  .flecha{
    left: 40px;
    font-size: 300px;
    padding-top: 2cm;
    margin-top: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
  }
  
  /* Cards */
  .card{
    width: 32%;   
    height: 500px; 
    background-color: #272727;
    color: #F6F6F6;
    border: 1px solid #272727;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    margin: 0;
    padding: -1px;
    position: relative;
  }

  .card0{
    width: 35%;   
    height: 300px; 
    background-color: #FFFFFF;
    color: #272727;
    border: 1px solid #272727;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    margin: 0;
    position: relative;
  }

  .card1{
    height: 600px; 
    background-color: #F5E5D9;
    color: #272727;
    box-shadow: 8px 10px 15px rgba(0,0,0,0.5);
    display: flex;
    line-height: 100px;
    margin-top: 90px;
    flex-direction: column;
    position: relative;
  }

  .formaText {
    padding: 2px 16px;
  }
  .formaText-card0 {
    padding: 35% 10%;
  }
  /* /Cards */
  /* /SOBRE */

  /* PRODUTOS */
  .col-esquerda{
    width: calc(45% - 7px);
    height: 50%;
    margin-left: 20px;
    margin-top: 100px;
    position: relative;
  } 

  .col-direita{
    width: 42%;
    float: right;
    margin-right: 140px;
    margin-top: 100px;
    padding: 10px 30px;
  }

  .col-direita h1{
    font-size: 30px;
    line-height: 65px;
  }

  .col-direita p{
    width: 80%;
    font-size: 15px;
  }

    /* Modal */
    .popup{
        position: fixed;
        z-index: 999;
        top: 1; bottom: 0; 
        left: 7; right:0;
        margin: auto;
        width: 600px;
        height: 300px;
        padding: 0 0;
        border: solid 1px #000000;
        background: #F5E5D9;
        overflow: hidden;
        margin: 100px auto ;
        display: none;
      }
    
      .slides{
        width: 2400px;
        display: flex;
      }
      
      .slide{
        width: 600px;
        transition: 0.6s;
      }
      
      .btnLeft,.btnRight{
        position: absolute;
        width: 60px;
        height: 300px;
        font-size: 40px;
        line-height: 300px !important;
        text-align: center;
        cursor: pointer;
        transition: 0.3s
      }
    
      .btnLeft{
        left: 0;
      }
      .btnRight{
        right: 0;
      }
      
      .fecharPop{
        position: absolute;
        z-index: 9999;
        top: 14px;
        right: 20px;
        font-size: 30px;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
      }
    
      .fecharPop:hover{
        transform: rotate(90deg);
        opacity: 1;
      }
      /* /Modal */  
  /* /PRODUTOS */

  /* MIDIA */
  .container-midia{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .container-midia .item{
    width: calc(30% - 7px);
    float: left;
    cursor: pointer;
    margin: 1 auto;
    transition: .3s linear;
  }
  
  .insta-img{
    width: 388px;
    height: 460px;
    transition: transform .2s;
  }

  .insta-img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  
  .espacX{
    display: inline-block;
    width: 3px;
  }
  .espacY{
    display: inline-block;
    height: 50px;
  }
  /* /MIDIA */

  /* FOOTER */
  footer{
    padding: 20px 0;
    text-align: center;
  }

  .col1-footer{
    float:left;
    width:400px;
    text-align: left;
    padding: 10px 55px;
    background: transparent;
  }

  .coluninhas{
    column-count: 2;
  }

  .col2-footer{
    float:left;
    width:600px;
    text-align: center;
    padding: 10px 55px;
    background: transparent;
  }

  .campo-email{
    width: 280px;
    padding: 13px 0;
    margin: 8px 0;
    margin-bottom: 0px;
    background: transparent;
  }

  .textbox input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #272727;
  }
  
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 2px 0;
    margin: 2px 0;
  }

  .btn{
    background: none;
    border: 2px solid #F5E5D9;
    color: #000000;
    padding: 5px 20px;
    border-radius: 24px;
    font-size: 18px;
    transition: 0.25s;
    cursor: pointer;
  }

  .btn:hover{
    background: #F5E5D9;
  }

  .col3-footer{
    float:right;
    width:324px;
    text-align: left;
    padding: 10px 55px;
    background: transparent;
  }

  .rodape-titulo{
    line-height: 80px;
    text-align: left;
  }
  /* /FOOTER */

  /* Media Queries para tornar responsivo (screen 990px máximo) */
  @media screen and (max-width: 990px){
    .menu-toggler{
      display: block;
    }
  
    .navbar-menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #F5E5D9;
      top: 0;
      right: -100%;
      max-width: 400px;
      padding: 80px 50px;
      transition: .3s linear;
    }
  
    .navbar-menu a{
      font-size: 30px;
      text-align: center;
      /* margin: 30px 0; */
    }
  
    .sticky .navbar-menu{
      background-color: #F5E5D9;
    }
    
    .navbar-menu.active{
      right: 0;
    }
  
    .menu-toggler.active span:nth-child(1){
      transform: rotate(-45deg);
      top: 4px;
    }
  
    .menu-toggler.active span:nth-child(2){
      opacity: 0;
    }
  
    .menu-toggler.active span:nth-child(3){
      transform: rotate(45deg);
      bottom: 14px;
    }
  
    .larg-interna{
      max-width: 800px;
    }
  
    .about-pic{
      margin: 0 auto 60px;
    }
  
    .about-text{
      flex: 100%;
      text-align: center;
    }
  
    .conceito-item{
      width: calc(50% - 20px);
    }
  
    .block{
      width: calc(100% - 20px);
      margin-left: auto;
    }
  
    .work{
      width: calc(50% - 10px);
    }
  
    .container-midia .item{
      width: 100%;
      margin: 10px 0;
    }
  }

  /* Media Queries para tornar responsivo (screen 600px máximo) */
  @media screen and (max-width: 600px){
    .larg-interna{
      padding: 0 20px;
    }
  
    .conteudo-sobre{
      width: 100%;
    }
  
    .conceito-item{
      width: 100%;
    }
  
    .work{
      width: 100%;
    }
  
    .nameZone, .emailZone{
      max-width: 100%;
    }
  }