@import './var';
@import './header';
@import './swiper';
@import './iconbar';
@import './bannergallery';
@import './post';
@import './instagram';
@import './footer';
@import './mobile';


body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
    color: $eerie;
}

  