.card {
    border: 2px solid $colorPrimary;
    min-height: 150px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &-close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 16px;
        font-size: 13px;
        text-align: center;
        background: $colorPrimary;
        color: $colorExtra1;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
  }
  
  .card-img {
    height: 80px;
    width: 80px;
    background-color: $colorQuaternary;
  }
  .card-body {
      margin:15px;
      flex: 1;
      word-break: break-all;
      text-align: left;
  }