.header {
    background-color: $colorPrimary;
    @extend %flex-center-between;
    width: 100%;
    padding: 25px 40px;
    height: 12vh;
    color: $colortxtOne;
    &-logo {
        max-width: 90px;
        max-height: 90px;
        height: 100%;
        width: 100%;
    }
    &-nav {
        @extend %flex-center-between;
    }
    &-list {
        @extend %flex-centered;
        transition: opacity 0.6s, width 0.4s;    
    }
    &-listicons {
        @extend %flex-centered;
        font-size: 22px;
    }
    &-item {
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            color: $colorSecondary
        }
    }
    &-icon {
        margin: 10px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    .close-menu {
       display: none;
       color: $colorExtra1;
    }
    @include bkp(md) {
        width: 100%;
        padding: 15px 10px;
        &-containerimg {
            order: 2;
            margin-left: 17%;
        }
        &.-menuopen {
            .close-menu {    
                display: block;
                padding: 5px 10px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $colorPrimary;
            }            
            .header-list {
                background-color: $colorExtra1;
                display: block;
                overflow: inherit;
                opacity: 1;
                position: fixed;
                width: 90%;
                height: 100%;
                left: 0;
                top: 0;  
                z-index: $menu-index;  
                color: $colorSecondary; 
                padding-top: 25px;         
            }
            
        }
        &-list {
            order: 1;
            width: 0;
            opacity: 0;
            overflow: hidden;
        }
        &-icon {
            margin: 5px
        }
        &-listicons {
            order: 3;
            font-size: 20px;
        }
    }
}