doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Manhattan Neon
    link(rel="stylesheet" href="./assets/css/pages/index.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    link(rel="stylesheet" href="./assets/css/pages/index.css")
    script(src="https://kit.fontawesome.com/a766014f91.js" crossorigin="anonymous")
