@import "../../tools/index.scss";
@import "../../settings/index.scss";

.header-container {
	@include full-w-container;
	box-shadow: $shadow-header;
	height: 80px;
	background-color: $bg-color;

	@media (max-width: 900px) {
		position: fixed;
		z-index: 300;
	}
}
