@import "../../../settings/colors.scss";

.nav-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;

	> .item {
		border-bottom: 1px solid $color-gray-light;
		padding-bottom: 16px;

		&:hover {
			color: $color-secondary-high;
		}
	}
}
