$primeira-cor: #FFFFFF
$segunda-cor: #F6F6F6
$terceira-cor: #F5E5D9
$quarta-cor: #272727
$quinta-cor: #000000

.background-cor-1
    background-color: $primeira-cor
.background-cor-2
    background-color: $segunda-cor
.background-cor-3
    background-color: $terceira-cor
.background-cor-4
    background-color: $quarta-cor
.background-cor-5
    background-color: $quinta-cor
.cor-1
    color: $primeira-cor
.cor-2
    color: $segunda-cor
.cor-3
    color: $terceira-cor
.cor-4
    color: $quarta-cor
.cor-5
    color: $quinta-cor
.h-60
    height: 60px
.d-flex
    display: flex
.justify-between
    justify-content: space-between
.container
    max-width: 90%
.m-0
    margin: 0
.ml-0
    margin-left: 0
.ml-30
    margin-left: 30px
.mr-0
    margin-right: 0
.m-auto
    margin: auto
.ml-auto
    margin-left: auto
.mr-auto
    margin-right: auto
.mt-30
    margin-top: 30px
.mt-50
    margin-top: 50px
.mt-100
    margin-top: 100px
.mt-200
    margin-top: 200px
.mb-30
    margin-bottom: 30px
.mb-50
    margin-bottom: 50px
.w-max-100
    max-width: 100%
.p-40
    padding: 40px
.pl-0
    padding-left: 0
.pt-30
    padding-top: 30px
.pt-50
    padding-top: 50px
.d-inline-block
    display: inline-block
.align-center
    align-items: center
.text-left
    text-align: left
.text-center
    text-align: center
.position-relative
    position: relative
.position-absolute
    position: absolute
.w-25
    width: 25%
.w-75
    width: 75%
.w-90
    width: 90%
.p-10
    padding: 10px 
.p-20
    padding: 20px
.top--160
    top: -160px
.top--200
    top: -230px


.header
    background-color: #F6F6F6
    line-height: 30px
nav ul li
    display: inline
    margin: 0 5px
.links a
    text-decoration: none
    color: $quinta-cor
.links a:hover
    color: $quarta-cor
    text-decoration: underline
.img-fluid
    width: 100%
.lista-no-style
    list-style: none
    li
        display: inline
.img-rouded li img
    border-radius: 100%
    width: 120px
.secao-3
    background-color: $terceira-cor
    height: 550px
.secao-3-fake
    background-color: white
    height: 540px
.linha
    width: 90%
.parte1
    display: inline-block
    width: 30%
.parte2
    display: inline-block
    width: 70%
.parte2-1
    width: 55%
    max-width: 50%
    display: inline-block
.parte2-2
    width: 45%
    max-width: 50%
    display: inline-block
.li-item-max-w-30 li
    max-width: 30%

.wh-390
    height: 390px
    width: 390px
.h-30
    height: 30px
.hr
    bottom: 0px
.hr-logo
    bottom: 5px
    z-index: 0
    margin-left: 50%
    margin-right: -50%
    background-color: $primeira-cor
.input-container 
    position: relative
    width: 300px
input 
    border: 0
    border-bottom: 1px solid $quarta-cor
    outline: none
    background-color: $primeira-cor
    transition: .2s ease-in-out
    box-sizing: border-box
label 
    top: 0
    left: 0
    right: 0
    display: flex
    align-items: center
    position: absolute
    font-size: 1rem
    cursor: text
    transition: .2s ease-in-out
    box-sizing: border-box
    color: $quinta-cor
input,
label 
    width: 100%
    height: 3rem
    font-size: 1rem
input:valid,
input:focus 
    border-bottom: 1px solid $quinta-cor
input:valid + label,
input:focus + label
    color: $quarta-cor
    font-size: .8rem
    top: -30px
    pointer-events: none
.botao-enviar
    border: 0
    border-bottom: 1px solid $quarta-cor
    outline: none
    background-color: $primeira-cor
    color: $quinta-cor
    height: 48px
.align-end
    align-items: flex-end
.botao-acao
    border-radius: 5px
    border: 1px solid $quinta-cor
    background-color: $quinta-cor
    padding: 10px 30px
    color: $primeira-cor


