@import "../../tools/index.scss";
@import "./info/index.scss";
@import "./swiper/index.scss";

.feature-product {
	position: relative;
	@include content-wrapper;
	height: 100%;
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 40px;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	gap: 16px;

	&::before {
		content: "";
		position: absolute;
		width: 80%;
		height: 100%;
		top: 0;
		border: 2px solid $color-secondary-low;
		border-radius: 4px;
	}
}
