//sizes
$very-large: 64em; //1024
$large: 61.94em; //991px
$medium: 48em; //768px
$small: 36.57em; //585px
$very-small: 26.57em; //425px

//collors
:root {
    --primary-color: #c0b7b1;
    --secondary-color: #000;
    --body-bg: whitesmoke;
}