@import "grid";
@import "header";
@import "slider";
@import "circles";
@import "first-section";
@import "second-section";
@import "third-section";
@import "footer";

.page-title {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 41px;
}

section {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}