@import "./nav-list/index.scss";

@mixin title() {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;

	@media (max-width: 900px) {
		margin-top: 40px;
		margin-bottom: 16px;
	}
}

.menu-footer {
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;

	> .navmenu {
		display: flex;
		flex-direction: column;

		> .title {
			flex: 1;
			@include title;
		}
	}

	> .social {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		> .links {
			display: flex;
			flex-direction: column;
		}

		> .title {
			@include title;
		}
	}

	> .email {
		flex: 1;
		display: flex;
		flex-direction: column;
		max-width: 500px;

		> .form {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: end;
			height: 100%;
			overflow: hidden;

			> .input {
				border: none;
				border-bottom: 1px solid $color-gray-mid;
				margin-bottom: 8px;
				background-color: transparent;
				padding-bottom: 4px;
				outline: none;
			}

			> .textarea {
				position: relative;
				width: 100%;
				height: 80px;
				background-color: $bg-color;
				filter: brightness(0.95);
				border: none;
				outline: none;
				padding: 16px 8px;
				resize: none;

				&::-webkit-input-placeholder {
					font-size: 14px;
				}
			}

			> .button {
				position: absolute;
				background-color: $bg-color;
				filter: brightness(0.95);
				border: none;
				text-align: right;
				padding: 0 8px 8px 0;
				text-transform: uppercase;
				font-size: 12px;
				justify-self: end;
				align-self: flex-end;
				padding: 16px;

				&:hover {
					color: $color-secondary-high;
				}
			}
		}

		> .title {
			@include title;
		}
	}

	@media (max-width: 900px) {
		flex-direction: column;
		height: 100%;

		> .email {
			max-width: 100%;

			> .form {
				> .textarea {
					height: 100px;
				}
			}
		}
	}
}
