@mixin horizontalDivs($size) {
    width: $size;
    height: $size;
    overflow: hidden;

    img {
        height: 100%;
    }
}
// @function horizontalDivs($width, $height){
    
// }

@mixin instagramZoom{
    transition-property: transform;
    transition-duration: 400ms;

    &:hover{
        transform: scale(1.05);
    }
}
